<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <% if user_signed_in? %>
        <div>
          <%= link_to "New Blog", new_blog_post_path %>
        </div>
        <%= button_to "LogOut", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "LogIn", new_user_session_path %>
      <% end %>
    </div>
  <%= yield %>
  </body>
</html>
